<div class="carousel">
  <div
    class="carousel-wrapper"
    #carouselContainer
    (touchstart)="onDragStart($event)"
    (touchmove)="onDragMove($event)"
    (touchend)="onDragEnd()"
    (mousedown)="onDragStart($event)"
    (mousemove)="onDragMove($event)"
    (mouseup)="onDragEnd()"
    (mouseleave)="onDragEnd()"
  >
    <div
      class="carousel-track"
      [style.transform]="'translateX(' + translateX + 'px)'"
    >
      <ng-content></ng-content>
    </div>
  </div>

  <div class="dots">
    @for (slide of slides; track $index) {

    <span
      [class.active]="$index === currentSlide"
      (click)="goToSlide($index)"
    ></span>
    }
  </div>
</div>
