.testimonial-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .testimonial-image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }

  .feedback {
    padding: 1.5rem 0;
  }

  .position {
    margin-top: 0.5rem;
  }
}
