.btn {
  display: block;
  text-decoration: none;
  max-width: 150px;
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;

  &.large-screen {
    display: none;
  }

  &.small-screen {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .btn.large-screen {
    display: block;
  }

  .btn.small-screen {
    display: none;
  }
}
