.carousel {
  position: relative;
  overflow: hidden;

  .carousel-wrapper {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-track {
    display: flex;
    transition: transform 0.5s ease;
  }

  .dots {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 1.5rem;

    span {
      height: 8px;
      width: 8px;
      background-color: var(--dark);
      border: 1px solid var(--ghost);
      border-radius: 50%;
      cursor: pointer;

      &.active {
        background-color: var(--ghost);
        border: 1px solid var(--ghost);
      }
    }
  }
}
