.circle {
  width: 1.25rem;
  height: 1.25rem;
  background: var(--primary-color);
  border-radius: 100%;
  transform: rotate(90deg);
  border: 1px solid var(--secondary-color);
  cursor: pointer;
}

.bottom {
  position: relative;
  top: -1px;
  left: calc(1.25rem / 2 - 1px);
}

.feher {
  width: 0.625rem;
  height: 1.25rem;
  background: var(--secondary-color);
  border-top-right-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}
