:host {
  padding-top: 4rem;
  display: block;

  @media screen and (min-width: 1024px) {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    .about {
      width: 26rem;
    }

    .arrow {
      position: relative;
      display: block;
    }
  }
}

.name {
  margin-bottom: 2rem;
}

.role {
  margin-bottom: 1rem;
}

.arrow {
  display: none;
}
