:host {
  display: block;
  height: calc(100vh - 25px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25vh;

  @media screen and (min-width: 1200px) {
    height: 100vh;
  }

  .about {
    width: 26rem;
  }
}

.name {
  margin-bottom: 2rem;
}

.role {
  margin-bottom: 1rem;
}
