header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 1200px) {
    position: fixed;
    top: 1rem;
    left: 2rem;
    right: 2rem;
  }
}

.nav-link {
  font-size: 10px;
  line-height: 10px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 2px;
  width: 48px;
  overflow: hidden;

  &.active {
    border-bottom: 1px solid var(--secondary-color);
  }
}

.toggle-theme-btn {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  background: linear-gradient(
    180deg,
    var(--primary-color) 50%,
    var(--secondary-color) 50%
  );
  cursor: pointer;
  outline: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }

  &::before {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 40%;
    background-color: var(--primary-color);
  }

  &::after {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 40%;
    background-color: var(--secondary-color);
  }

  @media screen and (min-width: 1200px) {
    position: fixed;
    top: 50%;
    transform: translateX(-50%);
    right: 2rem;
  }
}
