body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

a {
  color: var(--secondary-color);
  text-decoration: underline;

  &:not(.active):hover {
    text-decoration: line-through;
  }
}
