@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 12px;
}

h2,
h3,
h4 {
  font-weight: 600;
}

h2 {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 2px;
}

h3 {
  font-size: 1rem;
  line-height: 1.5em;
  letter-spacing: 1px;
}

h4,
h5 {
  font-size: 10px;
  line-height: 1em;
  letter-spacing: 1px;
}

p {
  line-height: 1.9em;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 14px;
  }

  h2 {
    font-size: 15px;
  }

  h4,
  h5 {
    font-size: 11px;
    line-height: 1em;
    letter-spacing: 1px;
  }
}
