.job {
  border-bottom: 1px solid var(--secondary-color);
  display: flex;
  align-items: center;
  cursor: pointer;

  h2 {
    margin-top: 1.25rem;
  }

  &__meta {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    display: flex;
    align-items: center;

    h5 {
      line-height: 0;
    }
  }

  .arrow {
    margin-left: auto;
    width: 1rem;
    height: 1rem;
    border-bottom: 2px solid var(--secondary-color);
    border-right: 2px solid var(--secondary-color);
    transform: rotate(-45deg) translate(-15px, -15px);
    transition: transform 0.3s ease-out;
  }

  &:hover {
    .arrow {
      transform: rotate(-45deg) translate(-5px, -5px);
    }
  }
}

@media (min-width: 1024px) {
  :host(:first-child) h2 {
    margin-top: 0;
  }
}
