:host {
  display: block;
  margin-bottom: 2rem;
}

.description {
  margin: 1rem 0;
  white-space: pre-line;
}

.tech-stack {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
}

.tech {
  max-height: 2rem;
  max-width: 2rem;
  object-fit: contain;
}
