:host {
  background-color: var(--secondary-color);
  width: 11rem;
  height: 4.5rem;

  @media screen and (min-width: 624px) {
    width: 15rem;
    height: 6rem;
  }

  .company-item {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: relative;

    &.disabled {
      cursor: default;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &:hover {
      text-decoration: none;
    }
  }

  body.light-theme & {
    background-color: transparent;
    border: 1px solid var(--secondary-color);
  }
}

.tooltip-label {
  font-size: 0.75rem;
  margin-top: 3px;
  line-height: 0;
  color: var(--primary-color);
  text-align: center;
}

body.light-theme :host .tooltip-label {
  color: var(--secondary-color);
}

.tooltip {
  background: var(--primary-color);
  color: var(--secondary-color);
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.25rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 1rem;
  right: 1rem;
  transform: translateY(-50%);
}

body.light-theme :host .tooltip {
  background: var(--secondary-color);
  color: var(--primary-color);
}
