<img src="assets/profile.jpeg" alt="Marko Bojic" class="profile-img" />
<p>
  Hello 👋 I'm Marko, a Tech & Team Lead, Reporting Manager and Angular
  Specialist.
</p>
<p class="description">
  With over a decade of experience in the IT industry, I specialize in leading
  teams to deliver efficient and impactful solutions while fostering a
  supportive and empowering environment. I believe in balancing efficiency with
  empathy - helping teams thrive without compromising individual creativity or
  autonomy.
</p>
<p class="description">
  I am passionate about guiding teams toward success by aligning their strengths
  with project goals and working closely with clients to design solutions that
  meet their needs effectively and pragmatically.
</p>
