<img src="assets/profile.jpg" alt="Marko Bojic" class="profile-img" />
<p>
  Hello 👋 I'm Marko, a Tech & Team Lead, Reporting Manager and Angular
  Specialist.
</p>
<p class="description">
  With over a decade of experience in the IT industry, I specialize in leading
  teams to deliver efficient and impactful solutions while fostering a
  supportive and empowering environment. I believe in balancing efficiency with
  empathy - helping teams thrive without compromising individual creativity or
  autonomy.
</p>
<p class="description">
  Throughout my career, I've initiated numerous projects from the ground up,
  allowing me to establish robust foundations and guide them to successful
  completion. This experience has honed my ability to align team strengths with
  project goals and collaborate closely with clients to design solutions that
  effectively and pragmatically meet their needs.
</p>
