<img src="assets/profile.jpeg" alt="Marko Bojic" class="profile-img" />
<p>
  Hello 👋 I'm Marko, a front-end developer, engineert manager, and mentor based
  in Novi Sad, Serbia.
</p>
<p class="description">
  With over a decade of experience in the IT industry, I have honed my expertise
  in various areas, including software development, team leadership, and project
  and product management. I am passionate about fostering environments where
  teams can excel, and I enjoy working closely with clients to help them
  implement the best solutions for their products.
</p>
