footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.5rem;

  .contact {
    text-align: right;
  }

  @media screen and (min-width: 1200px) {
    position: fixed;
    bottom: 1rem;
    left: 2rem;
    right: 2rem;
    margin-top: 0;
    align-items: flex-end;

    .contact {
      position: relative;
      top: 2px;
    }
  }

  .nav-link {
    &--small {
      display: none;
    }

    &--large {
      font-size: 12px;
      text-transform: uppercase;
      line-height: 1em;
      letter-spacing: 2px;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    @media screen and (min-width: 1200px) {
      &--small {
        display: block;
      }

      &--large {
        display: none;
      }
    }
  }
}
