.work-content {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding-top: 3rem;

  .details,
  .summary {
    max-width: 456px;
    margin: 0 auto;
  }

  .details {
    padding-top: 1.75rem;
  }

  &.transition-width-lock {
    .details,
    .summary {
      width: calc(100vw - 4rem);
    }
  }
}

@media screen and (min-width: 1024px) {
  header,
  footer {
    position: fixed;
    left: 2rem;
    right: 2rem;
  }

  header {
    top: 1rem;
  }

  footer {
    bottom: 1rem;
    margin-top: 0;
  }

  .work-wrapper {
    height: calc(100vh - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .work-content {
    height: 50vh;
    padding-top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4rem;

    .details,
    .summary {
      flex: 1 0 auto;
    }

    .details {
      padding-top: 0;
      max-height: 50vh;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
